:root {
  --blue: #28384f;
  --lblue: #9db2c7;
  --llblue: #b2c9d8;
  --orange: #e5833b;
  --purple: #ba94c0;
  --pink: #e1c3d5;
  --black: #221e22;
  --white: #fdf0d5;
  --linen: #dbd8d2;
  --beige: #cbb9ac;
  --gray: #363636;
}

@keyframes moveCloudsL {
  from {
    left: -30%;
  }
  to {
    left: 100%;
  }
}

@keyframes moveCloudsR {
  from {
    right: -30%;
  }
  to {
    right: 100%;
  }
}

@keyframes moveCloudsM {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@keyframes enlargeCloud {
  0% {
    height: 150px;
    width: auto;
  }
  50% {
    height: 180px;
    width: auto;
  }
  100% {
    height: 150px;
    width: auto;
  }
}

body {
  background-image: linear-gradient(var(--llblue), var(--pink));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray);
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  min-height: 100vh;
}

h1 {
  font-size: 40px;
}

#container,
#board {
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: static;
}

#container {
  height: 680px;
  flex-direction: column;
  border: 10px solid var(--lblue);
  border-radius: 25px;
  box-shadow: 0px 0px 20px var(--blue);
}

#nav {
  height: 78px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--lblue);
  color: var(--gray);
}

ul {
  display: inline-flex;
  list-style-type: none;
}

li {
  margin-right: 50px;
}

.cell {
  width: 80px;
  height: 60px;
  /*border: 1px solid orangered;*/
  text-align: center;
  align-content: center;
  display: fixed;
  justify-content: center;
  align-items: center;
}

.block-orange:hover,
.block-black:hover,
.block-blue:hover,
.block-pink:hover,
.block-white:hover {
  filter: saturate(50%);
}

.block-orange {
  width: 78px;
  height: 58px;
  background-image: url(../project-1-game/images/Cat-orange.png);
  background-size: contain;
  /*background-color: var(--green);*/
}

.block-blue {
  width: 78px;
  height: 58px;
  background-image: url(../project-1-game/images/Cat-blue.png);
  background-size: contain;
  /*
  background-color: var(--blue);
  */
}

.block-white {
  width: 78px;
  height: 58px;
  background-image: url(../project-1-game/images/Cat-Brown2.png);
  background-size: contain;
  /* background-color: var(--white); */
}

.block-pink {
  width: 78px;
  height: 58px;
  background-image: url(../project-1-game/images/Cat-pink.png);
  background-size: contain;
  /*background-color: var(--pink);*/
}

.block-black {
  width: 78px;
  height: 58px;
  background-image: url(../project-1-game/images/Cat-black.png);
  background-size: contain;
  /*background-color: var(--black);*/
}

#instructions,
#end-board,
#manualSansButton {
  position: absolute;
  top: 350px;
  width: 600px;
  height: 450px;
  background-color: var(--beige);
  align-content: center;
  text-align: center;
  border-radius: 20px;
  border: 10px solid var(--lblue);
}

#play,
#replay {
  background-color: var(--black);
  width: 150px;
  height: 80px;
  border-radius: 20px;
  color: var(--white);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 4px solid var(--lblue);
}

#play:hover,
#replay:hover {
  background-color: var(--pink);
  color: var(--blue);
  font-weight: 900;
}

#instructions > ul,
#manualSansButton > ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 20px;
}

#nav-button {
  background-color: var(--beige);
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  border: 5px solid var(--linen);
}

#nav-button:hover {
  background-color: var(--black);
  border: 5px solid var(--orange);
  color: var(--linen);
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40px;
  position: static;
}

.background-ele {
  position: absolute;
  z-index: -1;
  width: 50%;
  height: auto;
  right: 10px;
}

#cloud {
  animation: moveCloudsR 60s infinite linear;
}

#cloud2 {
  left: 10px;
  bottom: 0px;
  animation: moveCloudsL 50s infinite linear;
}

#cloud3 {
  width: 40%;
  top: 30px;
  left: 30px;
  animation: moveCloudsL 60s infinite linear;
}

#cloud4 {
  width: 40%;
  left: 400px;
  bottom: 0px;
  animation: moveCloudsM 40s infinite linear;
}

header {
  text-align: center;
}

#kitty-crush {
  z-index: 1;
  height: 200px;
  position: static;
  animation: enlargeCloud 10s infinite;
}

#manualBook:hover {
  filter: saturate(20);
}
