:root {
  --blue: #28384f;
  --lblue: #9db2c7;
  --orange: #e5833b;
  --purple: #ba94c0;
  --pink: #e1c3d5;
  --black: #221e22;
  --white: #fdf0d5;
  --linen: #dbd8d2;
  --beige: #cbb9ac;
  --gray: #363636;
}

body {
  background-color: var(--linen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray);
  font-family: "Lexend", sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

#container,
#board {
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#container {
  height: 680px;
  flex-direction: column;
  border: 10px solid var(--lblue);
  border-radius: 25px;
  background-color: var(--linen);
}

#nav {
  height: 70px;
  width: 100%;
  display: inline;
  background-color: var(--lblue);
  color: var(--gray);
}

ul {
  display: inline-flex;
  list-style-type: none;
}

li {
  margin-right: 50px;
}

.cell {
  width: 80px;
  height: 60px;
  /*border: 1px solid orangered;*/
  text-align: center;
  align-content: center;
  display: fixed;
  justify-content: center;
  align-items: center;
}

.block-orange:hover,
.block-black:hover,
.block-blue:hover,
.block-pink:hover,
.block-white:hover {
  filter: saturate(50%);
}

.block-orange {
  width: 78px;
  height: 58px;
  background-image: url(../project-1-game/images/Cat-orange.png);
  background-size: contain;
  /*background-color: var(--green);*/
}

.block-blue {
  width: 78px;
  height: 58px;
  background-image: url(../project-1-game/images/Cat-blue.png);
  background-size: contain;
  /*
  background-color: var(--blue);
  */
}

.block-white {
  width: 78px;
  height: 58px;
  background-image: url(../project-1-game/images/Cat-Brown2.png);
  background-size: contain;
  /* background-color: var(--white); */
}

.block-pink {
  width: 78px;
  height: 58px;
  background-image: url(../project-1-game/images/Cat-pink2.png);
  background-size: contain;
  /*background-color: var(--pink);*/
}

.block-black {
  width: 78px;
  height: 58px;
  background-image: url(../project-1-game/images/Cat-black.png);
  background-size: contain;
  /*background-color: var(--black);*/
}

#instructions,
#end-board {
  position: absolute;
  top: 250px;
  width: 600px;
  height: 450px;
  background-color: var(--beige);
  align-content: center;
  text-align: center;
  border-radius: 20px;
  border: 10px solid var(--lblue);
}

#play,
#replay {
  background-color: var(--black);
  width: 150px;
  height: 80px;
  border-radius: 20px;
  color: var(--white);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 4px solid var(--lblue);
}

#play:hover,
#replay:hover {
  background-color: var(--pink);
  color: var(--blue);
  font-weight: 900;
}

#instructions > ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 20px;
}

.nav-button {
  background-color: var(--beige);
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  border: 5px solid var(--linen);
}

#manual-button {
  background: url(../project-1-game/images/user-guide.png);
  object-fit: cover;
}

#background-cloud {
  z-index: -1;
  width: 300px;
  height: 300px;
  background-color: white;
}
